<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48882192129-smo6ni1qn4fd93domnl42gn2hke5i5ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48882192129-smo6ni1qn4fd93domnl42gn2hke5i5ic</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ANN6eQcwbR_qLN9HxovgXZEi3SR6674</string>
	<key>GCM_SENDER_ID</key>
	<string>48882192129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tudoEmCasaReceitas</string>
	<key>PROJECT_ID</key>
	<string>tudoemcasareceitas-e865a</string>
	<key>STORAGE_BUCKET</key>
	<string>tudoemcasareceitas-e865a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48882192129:ios:6639bc5d235ddeefa39500</string>
</dict>
</plist>